.resume-component {
  height: 100%;
  overflow-y: scroll;
}

.resume-container {
  background-color: #ebf0df;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .resume-content {
    width: 100%;

    .resume-education {
      margin-bottom: 24px;
    }
  }

  .resume-download {
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 24px 0;
  }
}