//xs screen
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  //homepage
  .home-title {
    h3 {
      font-size: 20px !important;
    }

    h2 {
      font-size: 24px !important;
    }

    .typing-text {
      font-size: 19px !important;
    }
  }

  //resume
  .resume-container {
    justify-content: normal !important;
    overflow-y: scroll;

    .resume-body {
      .resume-download {
        padding: 24px;
      }
    }
  }

  .resume-skills-component {
    flex-wrap: wrap;
  }

  //education timeline
  .education-timeline {
    .vertical-timeline-element-icon {
      display: flex;
      justify-content: center;
    }
  }

  //resume skill
  .resume-skills-component .skills-code .skills-item, .resume-skills-component .skills-design .skills-item {
    flex-wrap: wrap;

    .ant-progress {
      padding: 5px 10px;
    }
  }

  //portfolio
  .portfolio-component {

    .portfolio-content {
      flex-direction: column;

      .portfolio-item {
        width: 90% !important;
      }
    }
  }

  //portfolio modal
  .ant-modal-wrap {
    .ant-modal {
      width: 90% !important;

      .ant-modal-content {
        .ant-modal-body {
          padding: 24px 0 !important;
        }

        .btn-modal .ant-btn-primary {
          width: 135px !important;
        }
      }
    }
  }

  //contact
  .contact-component {
    .contact-container {
      padding: 0 50px !important;

      .contact-reach {
        .reach-item {
          flex-direction: column !important;

          p {
            font-size: 16px !important;
          }
        }
      }
    }
  }
}

//s screen
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  //homepage
  .home-title {
    h3 {
      font-size: 25px !important;
    }

    h2 {
      font-size: 28px !important;
    }

    .typing-text {
      font-size: 23px !important;
    }
  }

  //resume
  .resume-container {
    justify-content: normal !important;
    overflow-y: scroll;

    .resume-body {
      .resume-download {
        padding: 24px;
      }
    }
  }

  .resume-skills-component {
    flex-wrap: wrap;
  }

  //education timeline
  .education-timeline {
    .vertical-timeline-element-icon {
      display: flex;
      justify-content: center;
    }
  }

  //resume skill
  .resume-skills-component .skills-code .skills-item, .resume-skills-component .skills-design .skills-item {
    padding: 0 20px !important;
    flex-wrap: wrap;

    .ant-progress {
      padding: 5px 10px;
    }
  }

  //portfolio
  .portfolio-component {

    .portfolio-content {
      flex-direction: column;

      .portfolio-item {
        width: 80% !important;
      }
    }
  }

  //portfolio modal
  .ant-modal-wrap {
    .ant-modal {
      width: 90% !important;
    }
  }

  //contact
  .contact-component {
    .contact-container {
      padding: 0 50px !important;

      .contact-reach {
        .reach-item {
          flex-direction: column !important;

          p {
            font-size: 20px !important;
          }
        }
      }
    }
  }
}

//ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  //resume
  .resume-container {
    justify-content: normal !important;
    overflow-y: scroll;

    .resume-body {
      .resume-download {
        padding: 24px;
      }
    }
  }

  .resume-skills-component {
    flex-wrap: wrap;
  }

  //education timeline
  .education-timeline {
    .vertical-timeline-element-icon {
      display: flex;
      justify-content: center;
    }
  }

  //portfolio
  .portfolio-component {

    .portfolio-content {
      flex-direction: column;

      .portfolio-item {
        width: 80% !important;
      }
    }
  }

  //portfolio modal
  .ant-modal-wrap {
    .ant-modal {
      width: 90% !important;
    }
  }

  //contact
  .contact-component {
    .contact-container {
      padding: 0 50px !important;

      .contact-reach {
        .reach-item {
          flex-direction: column !important;
        }
      }
    }
  }
}

//ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  //resume
  .resume-skills-component {
    flex-wrap: wrap;
  }

  //education timeline
  .education-timeline {
    .vertical-timeline-element-icon {
      display: flex;
      justify-content: center;
    }
  }

  //portfolio
  .portfolio-component {

    .portfolio-content {
      flex-direction: column;

      .portfolio-item {
        width: 80% !important;
      }
    }
  }

  //portfolio modal
  .ant-modal-wrap {
    .ant-modal {
      width: 90% !important;
    }
  }

  //contact
  .contact-component {
    .contact-container {
      .contact-reach {
        .reach-item {
          flex-direction: column !important;
        }
      }
    }
  }
}